<p>
  <b>Description:</b>
  <%= @link.description %>
</p>

<p>
  <b>Url:</b>
  <%= @link.url %>
</p>

<p>
  <b>Site:</b>
  <%= @link.site %>
</p>
<p>
  <b>Comment:</b>
  <%= @head_comment.body %>
</p>





<%= form_for([@subject,@comment]) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>

<br />
Replies:
<% @comments.each do |comment| %>
<br /><%= link_to comment.body, link_comment_path(@head_comment, comment) %><%= "  by (#{comment.user.email})" %><br /><%=" #{comment.comment_count} replies"%><%= button_to "reply", comment_path(comment), :method => :get %>

<% end %>



<%= link_to 'Back', links_path %>
